$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-address: unquote('"\\e954"');
$icon-clock: unquote('"\\e953"');
$icon-tiktok: unquote('"\\e952"');
$icon-menu: unquote('"\\e929"');
$icon-images: unquote('"\\e905"');
$icon-alert: unquote('"\\e904"');
$icon-account: unquote('"\\e900"');
$icon-add-to-cart-path1: unquote('"\\e901"');
$icon-add-to-cart-path2: unquote('"\\e902"');
$icon-add-to-cart-path3: unquote('"\\e903"');
$icon-arrow-down: unquote('"\\e907"');
$icon-arrow-left-thin: unquote('"\\e908"');
$icon-arrow-left: unquote('"\\e909"');
$icon-arrow-right-thin: unquote('"\\e90a"');
$icon-arrow-right: unquote('"\\e90b"');
$icon-arrow-top: unquote('"\\e90c"');
$icon-arrow-up: unquote('"\\e90d"');
$icon-call: unquote('"\\e90e"');
$icon-cart: unquote('"\\e90f"');
$icon-checkmark: unquote('"\\e910"');
$icon-close-small: unquote('"\\e911"');
$icon-close: unquote('"\\e912"');
$icon-collapse: unquote('"\\e913"');
$icon-edit: unquote('"\\e914"');
$icon-email: unquote('"\\e915"');
$icon-expand: unquote('"\\e916"');
$icon-facebook: unquote('"\\e917"');
$icon-favorite-selected: unquote('"\\e918"');
$icon-favorite: unquote('"\\e919"');
$icon-film: unquote('"\\e91a"');
$icon-google: unquote('"\\e91b"');
$icon-guarantee: unquote('"\\e91c"');
$icon-image: unquote('"\\e91d"');
$icon-info: unquote('"\\e921"');
$icon-instagram: unquote('"\\e922"');
$icon-link: unquote('"\\e923"');
$icon-linkedin: unquote('"\\e924"');
$icon-livechat: unquote('"\\e925"');
$icon-location: unquote('"\\e927"');
$icon-lock: unquote('"\\e928"');
$icon-minus: unquote('"\\e92c"');
$icon-offsite: unquote('"\\e92d"');
$icon-pause: unquote('"\\e92e"');
$icon-pinterest: unquote('"\\e92f"');
$icon-play-hollow: unquote('"\\e930"');
$icon-plus: unquote('"\\e931"');
$icon-print: unquote('"\\e932"');
$icon-question: unquote('"\\e933"');
$icon-remove: unquote('"\\e934"');
$icon-search: unquote('"\\e935"');
$icon-size: unquote('"\\e936"');
$icon-star-empty: unquote('"\\e937"');
$icon-star-half: unquote('"\\e938"');
$icon-star: unquote('"\\e939"');
$icon-twitter: unquote('"\\e93a"');
$icon-youtube: unquote('"\\e93b"');
$icon-zoom-out: unquote('"\\e93c"');
$icon-zoom: unquote('"\\e93d"');
$icon-sms-solid: unquote('"\\e906"');
$icon-share_button: unquote('"\\e950"');
$icon-content_copy: unquote('"\\e951"');
$icon-filter: unquote('"\\e955"');
$icon-sort: unquote('"\\e956"');
$icon-Show: unquote('"\\e91f"');
$icon-Hide: unquote('"\\e91e"');
$icon-checkout_bin: unquote('"\\e920"');
$icon-checkout_lock: unquote('"\\e926"');

