@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?asi4nm');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?asi4nm#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?asi4nm') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?asi4nm') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?asi4nm##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-images {
  &:before {
    content: $icon-images;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-account {
  &:before {
    content: $icon-account;
  }
}
.icon-add-to-cart {
  &:before {
    content: $icon-add-to-cart;
    color: rgb(68, 68, 68);
  }
}
.icon-add-to-cart .path2 {
  &:before {
    content: $icon-add-to-cart-path2;
    margin-left: -1.03125em;
    color: rgb(192, 192, 192);
  }
}
.icon-add-to-cart .path3 {
  &:before {
    content: $icon-add-to-cart-path3;
    margin-left: -1.03125em;
    color: rgb(255, 255, 255);
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left-thin {
  &:before {
    content: $icon-arrow-left-thin;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right-thin {
  &:before {
    content: $icon-arrow-right-thin;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-top {
  &:before {
    content: $icon-arrow-top;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-call {
  &:before {
    content: $icon-call;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-close-small {
  &:before {
    content: $icon-close-small;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-collapse {
  &:before {
    content: $icon-collapse;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-expand {
  &:before {
    content: $icon-expand;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-favorite-selected {
  &:before {
    content: $icon-favorite-selected;
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite;
  }
}
.icon-film {
  &:before {
    content: $icon-film;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-guarantee {
  &:before {
    content: $icon-guarantee;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-livechat {
  &:before {
    content: $icon-livechat;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-offsite {
  &:before {
    content: $icon-offsite;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-play-hollow {
  &:before {
    content: $icon-play-hollow;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-size {
  &:before {
    content: $icon-size;
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty;
  }
}
.icon-star-half {
  &:before {
    content: $icon-star-half;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
.icon-zoom {
  &:before {
    content: $icon-zoom;
  }
}

.icon-address {
    &:before {
      content: $icon-address;
    }
  }
  .icon-clock {
    &:before {
      content: $icon-clock;
    }
  }
  .icon-tiktok {
    &:before {
      content: $icon-tiktok;
    }
  }
  .icon-filter {
    &:before {
      content: $icon-filter;
    }
  }
  .icon-sort {
    &:before {
      content: $icon-sort;
    }
  }
