$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-menu: "\e929";
$icon-images: "\e905";
$icon-alert: "\e904";
$icon-account: "\e900";
$icon-add-to-cart-path1: "\e901";
$icon-add-to-cart-path2: "\e902";
$icon-add-to-cart-path3: "\e903";
$icon-arrow-down: "\e907";
$icon-arrow-left-thin: "\e908";
$icon-arrow-left: "\e909";
$icon-arrow-right-thin: "\e90a";
$icon-arrow-right: "\e90b";
$icon-arrow-top: "\e90c";
$icon-arrow-up: "\e90d";
$icon-call: "\e90e";
$icon-cart: "\e90f";
$icon-checkmark: "\e910";
$icon-close-small: "\e911";
$icon-close: "\e912";
$icon-collapse: "\e913";
$icon-edit: "\e914";
$icon-email: "\e915";
$icon-expand: "\e916";
$icon-facebook: "\e917";
$icon-favorite-selected: "\e918";
$icon-favorite: "\e919";
$icon-film: "\e91a";
$icon-google: "\e91b";
$icon-guarantee: "\e91c";
$icon-image: "\e91d";
$icon-info: "\e921";
$icon-instagram: "\e922";
$icon-link: "\e923";
$icon-linkedin: "\e924";
$icon-livechat: "\e925";
$icon-location: "\e927";
$icon-lock: "\e928";
$icon-minus: "\e92c";
$icon-offsite: "\e92d";
$icon-pause: "\e92e";
$icon-pinterest: "\e92f";
$icon-play-hollow: "\e930";
$icon-plus: "\e931";
$icon-print: "\e932";
$icon-question: "\e933";
$icon-remove: "\e934";
$icon-search: "\e935";
$icon-size: "\e936";
$icon-star-empty: "\e937";
$icon-star-half: "\e938";
$icon-star: "\e939";
$icon-twitter: "\e93a";
$icon-youtube: "\e93b";
$icon-zoom-out: "\e93c";
$icon-zoom: "\e93d";

$icon-share_button: "\e950";
$icon-content_copy: "\e951";

$icon-address: "\e954";
$icon-clock: "\e953";
$icon-tiktok: "\e952";

$icon-filter: "\e955";
$icon-sort: "\e956";

$icon-Hide: "\e91e";
$icon-Show: "\e91f";