.frenzy-headings {
	margin-bottom: 20px;
	.title {
		font-family: 'didot';
		font-weight: bold;
	}
	.sub-title {
		font-family: 'brandon-grotesque';
	}
}
.slider-frenzy-product {
	.product-title, .price{
		padding: 5px 10px;
		font-size: 14px;
		font-family: 'brandon-grotesque';
	}
}