#submitPasswordlessButton {
    margin-top: 20px;
}

#pwdless-token-form {
    margin: 0;
    .card {
        border: none;
        .pwdless-token {
            gap: 5px;
            justify-content: center;
            .col {
                padding: 0;
            }
        }
    }
}

#request-passwordless-login-modal {
    .modal-body {
        padding: 10px
    }
    .form-control {
        padding: 8px
    }
}
