#faq-page {
    max-width: 1440px;
}

#faq-page .about-text {
    padding: 85px 0px 40px 0px;
    max-width: 1184px;
    margin: 0 auto;
}

#faq-page .page-content {
    max-width: 1170px;
    margin: 0 auto;
}

#faq-page .page-content .content-header {
    font-size: 32px;
    margin-bottom: 15px;
}

#faq-page .content-block {
    margin-bottom: 40px;
}

#faq-page .page-content h1.content-header {
    margin-top: 105px;
}

#faq-page .page-content .mixed-header h1.content-header {
    margin-bottom: 16px;
}


#faq-page .images {
    padding-top: 16px;
    padding-bottom: 16px;
}

#faq-page .question {
    font-size: 20px;
    margin-bottom: 10px;
}
