/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./sfra-webpack-builder/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./sfra-webpack-builder/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./sfra-webpack-builder/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./link_globale/cartridges/int_globale_sfra/cartridge/client/default/scss/globale/styles.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
globale {
  display: none;
}

.globale-selector.country-selector {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.globale-selector.country-selector .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
}
@media (max-width: 1024px) {
  .globale-selector.country-selector .btn {
    padding: 9px;
  }
}
@media (min-width: 992px) {
  .globale-selector.menu-item {
    display: none;
  }
}
@media (max-width: 768.98px) {
  .globale-selector.menu-item {
    border-top: 1px solid #eee;
  }
}
@media (min-width: 769px) {
  .globale-selector.menu-item .btn {
    color: #fff;
    padding: 0.8rem;
  }
}
@media (max-width: 768.98px) {
  .globale-selector.menu-item .btn {
    color: #444;
  }
}

.header-banner .header-right .store-finder {
  padding: 0 0 0 15px !important;
}
