node_modules/
cartridges/*/cartridge/static/

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
node_modules

.env
*.alt
*.DS_Store
*dw.json
!*.dw.json
!data/**
*.zip
*.code-workspace
*_tmp
*_tmp/**
.metadata
.vscode/**
!.vscode/launch.json
.bundle-analyzer
.gitattributes

# Ignore Static Files
/**/static/**/js
/**/static/**/css
/**/static/**/custom

# Allow vendor-provided BM PayPal static assets to be committed
!link_paypal/cartridges/bm_paypal/cartridge/static/
!link_paypal/cartridges/bm_paypal/cartridge/static/default/
!link_paypal/cartridges/bm_paypal/cartridge/static/default/js/
!link_paypal/cartridges/bm_paypal/cartridge/static/default/css/
!link_paypal/cartridges/bm_paypal/cartridge/static/default/js/**
!link_paypal/cartridges/bm_paypal/cartridge/static/default/css/**

dw-api-types-master
.ignore
jsconfig.json
