button.dw-apple-pay-button.applePaySpecificityOverride {
    width: 100%;
    display: block;
    padding: $button-primary-padding-top $button-primary-padding-right $button-primary-padding-bottom $button-primary-padding-left;
    margin-bottom: $spacer;
}
